html{
  min-height:100%;
  box-sizing: border-box;

  background-color: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
}

body{
}

#root{

}
.clock{
  width: 14em;
  margin-top: 3em;
  display: flex;
  height: 3em;
  justify-content: center;
  align-items: center;
}

h2{
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 3em;
}
h3{
  font-weight: 500;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.laps-top-border:after{
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 1px;
}

.laps{
  color: rgb(12, 12, 12);
  width: 18em;

}
.buttons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2%;
  
}

.lightBorder{
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.darkText{
  color: black;
}
.lightText{
  color: white;
}
.darkBg{
  background-color: black;
}
.lightBg{
  background-color: white;
}

.head{
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;;
  padding: 3em 0;
  padding-top:3em;
  padding-bottom: 1em;
  position:sticky;
  top:0;
}

h4{
  text-align: center;
  font-weight: 400;
}
.buttons{
  padding-top: 2em;
  position:sticky;
  position: -webkit-sticky;
}
button:first-of-type{
  margin-right: 0.5em;
}
button.second{
  margin-left: 0.5em;
}

button{
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 7em;
  height: 3em;
  outline: none;
  box-shadow: none;
  transition: all 0.2s ease;
  background-color: rgba(255, 255, 255);
  color: rgb(0, 0, 0);
}

h3{
  text-align: center;
  font-weight: 400;
  margin:1em;
}

p{
  background-color: rgba(121, 168, 87);
}

button:active{
  background-color: rgba(0, 0, 0) ;
  color: white;
}

@media (pointer:fine){
button:hover{
  background-color: rgba(0, 0, 0) ;
  color: white;
}
}