html{
  min-height:100%;
  box-sizing: border-box;

  background-color: rgb(199, 198, 235);
  background: linear-gradient(to bottom,
  #c7c6eb,rgb(255, 255, 255)) 
  no-repeat fixed;
}
* {
  margin: 0;
  padding: 0;
}

body{
}

#root{

}
.clock{
  width: 14em;
  border-radius: 10px;
  margin-top: 1em;
  display: flex;
  height: 3em;
  justify-content: center;
  align-items: center;
}

h2{
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 3em;
}
h3{
  font-weight: 500;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.laps{
  margin-top: 1em;
  color: rgb(80, 80, 80);

  width: 18em;

}
.buttons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2%;
  
}

.head{
  background-color: rgb(209, 209, 251);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;;
  padding: 3em 0;
  padding-top:3em;
  padding-bottom: 1.5em;
  position:sticky;
  top:0;
}

h4{
  text-align: center;
  font-weight: 400;
}
.buttons{
  padding-top: 2em;
  position:sticky;
  position: -webkit-sticky;
}
button:first-of-type{
  margin-right: 0.5em;
}
button.second{
  margin-left: 0.5em;
}
button{
  padding-left: 1em;
  padding-right: 1em;
  width: 7em;
  height: 3em;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  border: none;
  transition: all 0.2s ease;
  background-color: rgba(255, 79, 79, 0.849);
  color: rgb(255, 255, 255);
}


@media (pointer:fine){
button:hover{
  background-color: rgba(255, 94, 182, 0.849) ;
  color: white;
  border-bottom: 1px;
  border-color: black;
}
}
button:active{
  background-color: rgba(250, 107, 255, 0.849);
}
h3{
  text-align: center;
  font-weight: 400;
  margin:1em;
}

p{
  background-color: rgba(121, 168, 87, 0.096);
}